.panel{
  border-radius: 15px;
}
.navbar-calysta{
  background:#337ab7;
}
.container{
  background:#FFFFFF;
  width:100%;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.sidebar-kiri-warna{
  border-right: 2px solid;
  padding-bottom: 279px;
  background: #394263;
}
.sidebar-kiri-warna h4{
  color: #ffffff;
}
.warna-huruf-sidebar li a{
  color: #ffffff;
}
.warna-huruf-sidebar li a:hover{
  background: #337ab7;
}
.navbar{
  margin-bottom: 0px;
  border:none;
  border-radius: 0px;
}
